* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#button {
  background-color: black;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  color: white;
  /* margin: 10rem 20rem; */
}
.quote-box {
  font-size: 4rem;
  /* margin: 10rem 20rem; */
  color: red;
}
.quoteBox {
  width: 100vw;
  margin: 0 auto;
}
